doctype html
html
  head
    title Best Restaurant in Patna
    // for fonts
    // font1
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Pacifico&display=swap' rel='stylesheet')
    // font2
    link(href='https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap' rel='stylesheet')
    
    //- block scripts
    block style
  body     
    block content
    block foot
     